@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f4f4f4;
    font-family: "Ancizar Serif", serif;
}

#titulo {
    font-size: 2rem;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 25vh;
}

header {
    background: #280550;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

header nav a:hover {
    color: #fff;
    border-radius: 200px;
    text-decoration: underline 5px #280550;
}

#conteudo {
    display: grid;
    grid-template-columns: 1fr 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Banner1,
.Banner2,
.Banner3 {
    padding: 10px;
}

.Banner1 img,
.Banner2 img,
.Banner3 img {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 20px;
}

.preco {
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    color: #000;
    font-size: 1.7rem;
}

button {
    background: #4b0b93;
    margin-top: 15px;
    margin-left: 10px;
    padding: 15px 45px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
}

button:hover {
    background-image: linear-gradient(#280550, rgb(59, 4, 111));
}

.produto {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    max-width: 900px;
    gap: 20px;
}

.produtoima {
    flex: 1;
    min-width: 280px;
}

.produtoimg img {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 20px;
}

.produto-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-width: 280px;
}

.produto-titulo {
    font-size: 2rem;
    color: #000;
}

.precoproduto {
    font-size: 2.4rem;
    color: #000;
    font-weight: 700;
}

.produto-info button {
    width: fit-content;
    padding: 15px 45px;
    border-radius: 20px;
    background: #4b0b93;
    color: #fff;
    font-size: 1.1rem;
}

.produto button:hover {
    background-image: linear-gradient(#280550, rgb(59, 4, 111));
}

.produto-descricao {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}

footer {
    background: #280550;
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    list-style: none;
}

.footer-content h3 {
    margin-bottom: 30px;
}

.footer-content li {
    margin-bottom: 5px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

/* MENU HAMBURGUER */
.hamburguer {
    cursor: pointer;
    position: relative;
    z-index: 3;
    display: none;
}

.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: white;
    margin: .5rem auto;
    border-radius: 10px;
    transition: .5s;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    header nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #280550;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        z-index: 2;
    }

    header nav ul {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        padding: 0;
    }

    header nav li {
        width: 300px;
        height: 50px;
        text-align: center;
        border-radius: 40px;
        font-size: 1.3rem;
    }

    header nav li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }

    header nav li a:hover {
        text-decoration: none;
    }

    .hamburguer {
        display: block;
    }

    nav.active {
        left: 0;
    }

    .hamburguer.active .barra:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .barra:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .barra:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    header nav.active {
    left: 0;
    }

}
